@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  @apply bg-white text-base font-normal;
}
.backgrounddd {
  position: relative; /* Allow absolute positioning of the blurred background */
}
.backgrounddd::before {
  content: "";
  position: absolute; /* Keep the background fixed in place */
  width: 300px;
  height: 250px;
  top: 0;
  z-index: -1; /* Put the background behind all content */
  background: url("./src/assets/WhatsApp Image 20ss24-07-26 at 21.21.30_03354213.jpg")
    no-repeat center center / cover; /* Add your image here */
  filter: blur(40px); /* Adjust the blur effect */
  opacity: 0.5; /* Make it semi-transparent for a subtle look */
}

.active {
  @apply rounded-full bg-white p-2 text-slate-800 shadow-lg;
}
